@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
}

.header-container {
    display: flex;
    background-color: #A61212;
    align-items: center;
    flex-direction: row;
    height: 6em;
}

.navbar {
    display: flex;
    justify-content: end;
    gap: 60px;
}   

nav {
    display: flex;
    margin-left: auto;
    font-size: 24px;
    color: white;
    font-family: "Pacifico", cursive;
}

ul {
    list-style: none;
}

.navbar img {
    margin-right: 25px;
}

.slideshow-container {
    margin-bottom: 300px;
   width: 100%;
    position: relative;
    margin: auto;
   
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #d64a4a;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.bolinha{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.dot, .dot1, .dot2 {
   
    position: relative;
    bottom: 240px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #A61212;
   
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot1 {
   
    
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #A61212;
   
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot2 {
   
    
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #A61212;
   
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover, .dot1:hover, .dot2:hover {
    color: yellow;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slideshow-container {
   
    border-radius: 15px;
    width: 100%;
    margin-bottom: 150px;
}

.contact-card img{
    height: 100%;
}

#produtos {
    margin: 125px 0px;
    justify-content: center;
    display: flex;
    padding: 30px;
    font-size: 25px;
    font-family: "Poppins", cursive;
}

#frasebonita {
    margin-top: 25px;
    justify-content: center;
    display: flex;
    padding: 30px;
    font-size: 25px;
    font-family: "Pacifico", cursive;
}

/* Produtos */
.products-section {
    
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.products-section h2 {
    color: #d64a4a;
    margin-bottom: 20px;
    font-family: "Pacifico", cursive;
}

.products-grid {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    justify-content: center;
}

.product-item {
    gap: 30px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
}

.product-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-item p {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
}


#logoo{
    width: 125px; 
    height: 125px;
}


.navbar a{
    text-decoration: none;
    color: #ffff;
}


.whatsapp a img {
    transition: 0.5s; 
}

.whatsapp a img:hover {
    filter: brightness(0) invert(1); 
}


.whatsapp {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto 0; 
}
.ifoodtambem{
display: flex;
justify-content: end;
margin-right: 40px;
margin-top: 30px;

    
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px; 
    background-color: #A61212;
    padding: 20px;
    color: #ffff;
    gap: 90px;
    line-height:0%;
    
    
}
a{
    text-decoration: none;
}

.googlemaps {
    width: 33.33%; }

.address {
    width: 33.33%; 
    font-size: 18px;
    text-align: justify;
    line-height: 1.0;
    font-size: 30px;
    text-justify: inter-word;
    margin-left: 30px;
    color: black
}

.social {
    width: 33.33%; 
    display: flex;
  
    flex-direction: column;
    gap: 20px;
}
 img.social{
    width: 45px;
}

.social a {
    display: inline-block;
    color: white;
    font-size: 35px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

footer{
    margin-top: 
    300px;
}

.product-card {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
}

.product-image {
    width: 100%;
    height: 70%; 
    object-fit: cover;
}

.product-name {
    width: 100%;
    height: 45%; 
    font-size: 24px;
    background-color: #A61212;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f2f2f2;
    font-family: "Poppins", sans-serif;

}

.texto{
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: #A61212;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    height: 350px;
    color: white;
}

.sobre{
    width: 50%;
    margin-right: 60px;
}

.bonitinha{
    width: 50%;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
}

.whatsapp-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.whatsapp-button img:hover {
    transform: scale(1.1);
}

#noscontate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-size: 35px;
    background-color: #d64a4a;
    height: 450px;

}


.contact-section {
    
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact-section h2 {
    color: #d64a4a;
    margin-bottom: 20px;
    font-family: "Pacifico", cursive;
}


.contact-card {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-radius: 24px;
    
    overflow: hidden;
    
}



.contact-grid {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 400px;
    justify-content: center;
}


#entreemcontato{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pragati Narrow", sans-serif;
    font-size: 40px;
    color: #A61212;
}

.sideimage img{
    width: auto;
    height: 400px;
    
}
.contatodireto{
    height: 600px;
    background-color: #A61212;
    gap:400px;
    display: flex;
    flex-direction: row;
    height: 700px;
}
.formulario form{
    display: flex;
    flex-direction: column;
  margin: 0;
  gap: 30px;
}
.sideimage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: #FFFFFF;
}

input[type="text"]{
    width: 505px;
    height: 60px;
}
input[type="email"]{
    width: 505px;
    height: 60px;
}
textarea {
    width: 505px;
    height: 150px;
    resize: none;
    border-radius: 15px;
    border: 1px solid #000;

  }

  input[type="button"]{
    width: 505px;
    height: 60px;
    background-color: #FFFFFF;
    border-color: #000;
    font-size: 24px;
}

input{
    font-family: "Pragati Narrow", sans-serif;
    border-radius: 25px;
}